.FooterContainer {
    display: flex;
    flex-direction: column;
}

.FooterContainer a {
    color: var(--color-secondary);
}

.PageFooter {
    padding: 54px 64px;
    margin: 0 72px;
    margin-top: auto;
    background-color: var(--color-neutral-100);
    border-radius: 40px;
    color: #fff;
    fill: #fff;
}

.PageFooter .IconLogoWithText {
    margin-right: 12px;
    height: 28px;
    width: 117px;
}

.PageFooter .FooterNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 140px;
}

.PageFooter .FooterNav > a:not(:last-child) {
    border-right: 1px solid var(--color-secondary);
}

.PageFooter .IconSocial {
    fill: var(--color-dark);
    margin-left: 24px;
}

.LinksColumn {
    display: flex;
    flex-direction: column;
}

.TermsContainer {
    margin: auto;
    gap: 18px;
    padding: 24px;
}
