USER_NAME=""
USER_ID=""
GROUP_NAME=""
GROUP_ID=""

HOST_PORT=""
DOCKER_PORT=""

POSTGRES_PASSWORD=""
POSTGRES_HOST_AUTH_METHOD=""
POSTGRES_DB=""

MINTER_WALLET_MNEMONIC=""
AURA_POOL_PORT="3001"
MINTER_STATE_FILE=state.json
MINTER_MAX_RETRIES=10
MINTER_RETRY_INTERVAL=1s
MINTER_RELAY_INTERVAL=1s
MINTER_PAYMENT_DENOM=acudos
MINTER_PORT=3000
CHAIN_ID=cudos-dev-test-network
CHAIN_RPC=http://34.121.218.76:26657
CHAIN_GRPC=34.121.218.76:9090
