.CheckForPresaleRefundsModal .ModalHolder {
    align-items: center;
}

.CheckForPresaleRefundsModal .ModalHolder .Info {
    text-align: center;
}

.CheckForPresaleRefundsModal .ModalHolder .StatusSvg {
    width: 70px; height: 70px;
}

.CheckForPresaleRefundsModal .ModalHolder .TransactionView {
    gap: 10px;
    color: var(--color-primary-060);
}
