.PageUserProfile .PageContent {
    padding: 48px var(--page-spacing-h);
}

.PageUserProfile .PageContent .ProfileHeaderDataRow {
    margin-top: 24px;
    gap: 5px;
}

.PageUserProfile .PageContent .ProfileHeaderDataRow .AccountNameWrapper {
    gap: 16px;
    margin-bottom: 24px;
}

.PageUserProfile .PageContent .ProfileHeaderDataRow .CudosWalletAddrees {
    max-width: 180px;
    margin-left: 4px;
}

.PageUserProfile .PageContent .ProfileHeaderDataRow .SVG {
    width: 20px;
    height: 20px;
}

.PageUserProfile .PageContent .ProfileHeaderDataRow .JoinDate {
    color: var(--color-neutral-060);
    margin-left: 16px;
}

.PageUserProfile .SectionDivider {
    height: 1px;
    margin: 110px 0 24px 0;
    background: var(--color-neutral-020);
}

.PageUserProfile .PageContent .NavRowHolder {
    align-self: center;
    margin-bottom: 32px;
}
