:root {
    --color-primary: #000;
    --color-primary-light: #52A6F8;
    --color-secondary: #888;
    --color-gray-000: #000;
    --color-gray-010: #3c3c3c;
    --color-gray-025: #707070;
    --color-gray-030: #808080;
    --color-gray-060: #E0E2E9;
    --color-gray-090: #E0E2E9;
    --color-gray-095: #F6F9FE;
    --color-gray-100: #fff;
    --color-red: #da3c3c;
    --color-green: #29BC63;

    --color-body-background: #fff;

    --transition-duration: 0.4s;
    --item-spacing: 24px;
    --page-spacing-h: 70px;
    --border-radius: 20px;

    /* color scheme */
    --color-neutral: #F4F4F5;
    --color-neutral-010: #EDEFF3;
    --color-neutral-020: #E6E9F1;
    --color-neutral-030: #C7CBD8;
    --color-neutral-040: #A9AFBE;
    --color-neutral-050: #8E93A5;
    --color-neutral-060: #73798B;
    --color-neutral-070: #5B6072;
    --color-neutral-080: #434959;
    --color-neutral-090: #2E323F;
    --color-neutral-100: #08090C;
    --color-neutral-navy: #262A48;

    --color-primary-010: #E8F7FF;
    --color-primary-020: #BEE9FF;
    --color-primary-030: #94DBFF;
    --color-primary-040: #6BCDFF;
    --color-primary-050: #41BFFF;
    --color-primary-060: #15A2E9;
    --color-primary-070: #0080C0;
    --color-primary-080: #006597;
    --color-primary-090: #004A6E;
    --color-primary-100: #002E46;

    --color-secondary-010: #E8FBFF;
    --color-secondary-020: #C0F6FF;
    --color-secondary-030: #98F0FF;
    --color-secondary-040: #6FEAFF;
    --color-secondary-050: #47E4FF;
    --color-secondary-060: #1EDEFF;
    --color-secondary-070: #08BDDC;
    --color-secondary-080: #0099B3;
    --color-secondary-090: #00768A;
    --color-secondary-100: #005362;

    --color-success-010: #E3FFEB;
    --color-success-020: #A6F3BB;
    --color-success-030: #7CE69D;
    --color-success-040: #53D47F;
    --color-success-050: #29BC63;
    --color-success-060: #0DA048;
    --color-success-070: #048B3A;
    --color-success-080: #00722D;
    --color-success-090: #005720;
    --color-success-100: #003A14;

    --color-warning-010: #FFEEE0;
    --color-warning-020: #FFCDA6;
    --color-warning-030: #FFB77C;
    --color-warning-040: #FFA053;
    --color-warning-050: #FF8A29;
    --color-warning-060: #F17400;
    --color-warning-070: #D25F00;
    --color-warning-080: #A64B00;
    --color-warning-090: #793600;
    --color-warning-100: #4D2200;

    --color-error-010: #FFEFEF;
    --color-error-020: #FFCBCB;
    --color-error-030: #FFA8A8;
    --color-error-040: #FF8484;
    --color-error-050: #FF6161;
    --color-error-060: #EA4E4E;
    --color-error-070: #C83939;
    --color-error-080: #A62828;
    --color-error-090: #841A1A;
    --color-error-100: #620E0E;

    /* theme */
    --color-input-text: #000;
    --color-input-border: #000;
    --color-input-border-focused: #aaa;
    --color-input-gray-out: var(--color-gray-060);
    --color-input-label: #000;
    --color-input-label-focused: #aaa;

    --color-select-icon: #000;
    --color-select-highlight: rgba(0, 0, 0, 0.1);

    --color-select-multi-item-color: #fff;
    --color-select-multi-item-background: #000;
    --color-select-multi-delete-icon: #fff;
    --color-select-multi-delete-icon-hover: #aaa;

    --color-datepicker-foreground: var(--color-primary);
    --color-datepicker-background: #fff;
    --color-datepicker-content-background: #fff;
    --color-datepicker-selected: var(--color-primary);

    --color-popover-text: #000;
    --color-popover-border: transparent;
    --color-popover-background: #fff;

    --color-tooltip-text: #000;
    --color-tooltip-border: var(--color-gray-030);
    --color-tooltip-background: #fff;

    --color-checkbox-fill: #fff;
    --color-checkbox-background: var(--color-primary-060);
    --color-checkbox-border: #7D87AA;
    --color-checkbox-border-active:  var(--color-primary-060);  

    --color-modal-background: #fff;

    --box-shadow: box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    /* theme */
}

html {
	color:var(--color-gray-000);
    font-family:Poppins, OpenSans, sans-serif; font-weight:400; font-size:14px;
    scroll-behavior: smooth;
}

body {
    min-width:calc(1200px + 48px);
    background:var(--color-body-background);
}

.ReactEntryPoint {
    width:100%; height:100%;
}

.ImgCoverNode {
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.ImgContainNode {
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

img.CoverNode {
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

/* Site */
.AppContent {
    width:100%;
    /* min-width:calc(1200px + 2 * var(--item-spacing)); */
    max-width:calc(1400px + 2 *  var(--item-spacing));
    box-sizing:border-box;
    padding-left:var(--item-spacing); padding-right:var(--item-spacing);
    margin-left:auto; margin-right:auto;
}

.AppContent.SmallContent {
    width:370px; min-width:auto;
}

html.OverflowHidden {
    overflow:hidden;
}

.ExtraBold {
    font-weight: 800;
}
.Bold {
    font-weight: 700;
}

.SemiBold {
    font-weight: 600;
}

.Medium {
    font-weight: 500;
}

.Regular {
    font-weight: 400;
}

.H1 {
    font-size: 32px;
}

.H2 {
    font-size: 32px;
}

.H2_1 {
    font-size: 24px;
}

.H3 {
    font-size: 18px;
}

.B1 {
    font-size: 18px;
}

.B2 {
    font-size: 14px;
}

.B3 {
    font-size: 12px;
}

.B4 {
    font-size: 10px;
}

.ColorPrimary {
    color: var(--color-primary-light);
}

.ColorPrimaryBlue {
    color: var(--color-primary-060)
}

/* PageContent */
.PageContent {
    flex: 1 1 auto;
    display: flex; flex-direction: column;
    position: relative;
}

.PageMarginTop {
    margin-top:98px;
}

.PageMarginBottom {
    margin-top:112px;
}

.Page {
    transition-property:filter;
}

.Page.BlurModal, .Page.BlurAlert {
    filter: blur(6px);
}

.PrimaryColor {
    color: var(--color-primary);
    fill: var(--color-primary);
}

/* Scrolls */
.Scrolls {
    scrollbar-color:var(--color-primary) transparent;
    scrollbar-width:thin;
}

.Scrolls::-webkit-scrollbar {
    width:6px; height:6px;
}

.Scrolls::-webkit-scrollbar-track {
    background:none;
}

.Scrolls::-webkit-scrollbar-thumb {
    border-radius:3px;
    background:var(--color-primary);
}

/* Mui font fix */
*[class*="-root"], *[class^="Mui"] {
    font-family: inherit !important;
}
