.DataPreviewLayout .DataPreview.FlexColumn {
    align-items: flex-start;
    gap: 5px;
}

.DataPreviewLayout .DataPreview.FlexColumn .DataPreviewValue{
    margin-left: 0;
}

.DataPreviewLayout .DataPreviewKey {
    color: var(--color-neutral-060);
    white-space: nowrap;
    margin-right: 16px;
}

.DataPreviewLayout .DataPreviewValue {
    text-align: right;
    margin-left: auto;
}

.DataPreviewLayout.Gap10 {
    gap: 10px;
}

.DataPreviewLayout.Gap25 {
    gap: 25px;
}

.DataPreviewLayout.SizeSmall {
    font-size: 12px;
}

.DataPreviewLayout.SizeLarge {
    font-size: 16px; font-weight: 600;
}
