 
.ExtendedChart .GraphHeader {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.ExtendedChart .GraphHeader .DataRow {
    gap: 24px;
}


.ExtendedChart .GraphHeader .DataRow .SingleDataColumn .DataName {
    color: var(--color-gray-030);
}
