.FieldColumnWrapper {
    display: flex; flex-direction: column;
    gap: 10px;
}

.FieldColumnWrapper .HelperText {
    color: var(--color-neutral-060);
}

.FieldColumnWrapper .FormulaBox {
    padding: 15px;
    color: var(--color-neutral-060);
    background-color: var(--color-neutral-020);
    border-radius: 10px;
}
