.FieldColumnWrapper {
    display: flex; flex-direction: column;
    gap: 10px;
}

.FieldColumnWrapper .HelperText {
    color: var(--color-gray-030);
}

.FieldColumnWrapper .FormulaBox {
    padding: 15px;
    color: var(--color-gray-030);
    background-color: var(--color-gray-090);
    border-radius: 10px;
}
