.GridView {
    justify-content: center;
    align-items: center;
}

.GridView .DefaultContent {
    width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.GridView .GridHeader {
    justify-content: space-between;
    margin-bottom: 20px;
}

.GridView .GridHeader .HeaderLeft,
.GridView .GridHeader .HeaderRight {
    gap: 24px;
}

.GridView .GridHeader .TotalItems {
    white-space: nowrap;
}

.GridView .GridHeader .GridLayoutButtons {    
    gap: 8px;
}

.GridView .GridHeader .GridLayoutButtons .SvgBox {
    fill: var(--color-neutral-060);
    width: 16px; height: 16px;
    background-color: var(--color-neutral-020);
    border-radius: 16px;
    padding: 16px;
}

.GridView .GridHeader .GridLayoutButtons .Active .MuiSvgIcon-root{
    fill: #000;
}

.GridView .GridViewContent {
    align-items: flex-start;
}

.GridView .GridViewContent .GridViewContentItself {
    flex-grow: 1;
}

.GridView .GridViewContent .GridViewContentItself .PreviewsGrid {
    gap: 20px;
    flex-grow: 1;
}
