.InfoBlueBox {
    padding: 10px 18px;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--color-primary-010);
    color: var(--color-primary-060);
}

.InfoBlueBox.Top {
    align-items: flex-start;
}

.InfoBlueBox.Center {
    align-items: center;
}


.InfoBlueBox.Bottom {
    align-items: flex-end;
}