
.NavRowTabs {
    padding: 4px;
    border-radius: 10px;
    background: var(--color-neutral);
}

.NavRowTabs .NavButton {
    padding: 10px;
    color: var(--color-gray-dark);
    border-radius: inherit;
    transition-property: color, background-color;
}

.NavRowTabs .NavButton.Active {
    color: #000;
    background: #fff;
}
