.NavRow {
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.NavRow .NavItem {
    gap: 20px;
    color: var(--color-neutral-060);
    align-items: center;
    z-index: 2;
}

.NavRow .NavItem .NavNumber {
    height: 24px; width: 24px;
    align-items: center; justify-content: center;
    box-sizing: border-box;
    position: relative;
    color: var(--color-neutral-070);
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--color-neutral-020);
    
}

.NavRow .NavItem .NavNumber:before, .NavRow .NavItem .NavNumber:after {
    content: '';
    width: 8px; height: 100%;
    position: absolute;
    top:0;
    background: #fff;
}

.NavRow .NavItem .NavNumber:before {
    left: -9px;
}

.NavRow .NavItem .NavNumber:after {
    right: -9px;
}

.NavRow .NavItem .NavNumber .SvgIcon {
    width: 14px; height: 14px;
}

.NavRow .NavItem .NavNumber.Done {
    color: #fff;
    background: var(--color-success-050);
}

.NavRow .NavItem .NavName {
    width: 0;
    display: flex; justify-content: center;
    white-space: nowrap;
}

.NavRow .NavItem.Active {
    color: var(--color-neutral-100);
}

.NavRow .NavItem.Active .NavNumber {
    color: #fff;
    background: var(--color-primary-060);
}

.NavRow .NavRowDecoration {
    position: absolute;
    top: 11px;
    width: 100%; height: 1px;
    background: var(--color-neutral-040);
    z-index: 1;
}
