.PictureGallery {
    width: 526px; height: 526px;
    background-size: cover;
    border-radius: 16px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.PictureGallery .PreviousButton, .PictureGallery .NextButton {
    width: 48px; height: 48px;
    background: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

/* .PictureGallery .PreviousButton {
    margin-left: -24px;
}

.PictureGallery .NextButton {
    margin-right: -24px;
} */