.StyledLayout .StyledLayoutHeader {
    margin-bottom: 32px;
}

.StyledLayout .StyledLayoutHeader .StyleLayoutTitle {
    font-size: 18px;
}

.StyledLayout .StyledLayoutBottom {
    padding-top: 32px;
    margin-top: auto;
}

.StyledLayout .StyledLayoutBottom.WithDivider {
    border-top: 1px solid var(--color-neutral-020);
}
