.StyledContainer {
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
}

.StyledContainer.WidthSmall {
    width: 600px;
}

.StyledContainer.WidthMedium {
    width: 720px;
}

.StyledContainer.WidthLarge {
    width: 100%;
    /* flex: 1 1 auto; STRETCHES IT VERTICALLY WHEN IN FLEX COLUMN */
}

.StyledContainer.BgWhite {
    background: #fff;
}

.StyledContainer.BgNeutral100 {
    color: #fff;
    background: var(--color-neutral-100);
}

.StyledContainer.BgGray {
    background: var(--color-neutral-020);
}

.StyledContainer.Padding40 {
    padding: 40px;
}

.StyledContainer.Padding24 {
    padding: 24px;
}

.StyledContainer.Padding16 {
    padding: 16px;
}

.StyledContainer.BorderNeutral20 {
    border-color: var(--color-neutral-020);
}

.StyledContainer.BorderPrimary60 {
    border-color: var(--color-primary-060);
}

.StyledContainer.BorderGradient {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #67D271, #08BDDC) border-box !important;
    border-radius: 16px !important;
    border: 1px solid transparent !important;
}

.StyledContainer.Shadow {
    box-shadow: var(--box-shadow);
}
