.ChangePasswordModal .TitleCnt {
    margin-bottom: 48px;
}

.ChangePasswordModal .TitleCnt .SubTitle {
    color: var(--color-neutral-060);
    font-size: 16px;
    margin-top: 16px;
}

.ChangePasswordModal .ChangePasswordActions {
    margin-top: 24px;
}
