
.EarningsPage {
    gap: 24px;
}

.EarningsPage .BalancesDataContainer {
    gap: 24px;
}

.EarningsPage .BalancesDataContainer .BalanceColumn {
    gap: 16px;
}

.EarningsPage .BalancesDataContainer .BalanceColumn .ValueColumn .SecondaryColor {
    color: var(--color-gray-030);    
}