.PageSuperAdminApprove .PageContent {
    padding: 96px var(--page-spacing-h);
}

.PageSuperAdminApprove .TableHeader {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}

.PageSuperAdminApprove .TableHeader:not(:first-child) {
    margin-top: 96px;
}
