.HeaderWalletSeparator {
    width: 2px; height: 24px;
    background-color: var(--color-neutral-030);
}

.HeaderWallet .BalanceRow {
    gap: 10px;
    margin-right: 40px;
}

.HeaderWallet .BalanceRow .Secondary {
    color: var(--color-secondary-070);
}

.HeaderWallet .AddressRow {
    padding: 14px 24px;
    gap: 24px;
    background-color: var(--color-neutral);
    border-radius: 16px;
}

.HeaderWalletAddressPopover {
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.HeaderWalletAddressPopover .ButtonRow {
    gap: 10px;
}

@media (max-width: 1870px) {
 
.PageSuperAdminHeader .HeaderWallet .BalanceRow {
    display: none;
}

}


@media (max-width: 1700px) {
 
.HeaderWallet .BalanceRow {
    display: none;
}

}
