.PageMarketplace .PageContent {
    padding: 70px var(--page-spacing-h);
}

.PageMarketplace .MarketplaceHero {
    position: relative;
    margin: 90px 0 110px 0;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroInfo {
    display: inline-flex;
    flex-direction: column;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroInfo .MarketplaceHeroInfoHeadingLine1 {
    color: var(--color-neutral-100);
    text-transform: uppercase;
    font-size: 22px;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroInfo .MarketplaceHeroInfoHeadingLine2 {
    line-height: 110%;
    font-size: 48px;
    margin-bottom: 16px;

    background: linear-gradient(270deg, #050142  0%, #15f8e9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    opacity: 0.8;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroInfo .MarketplaceHeroInfoDesc {
    color: var(--color-neutral-060);
    margin-bottom: 32px;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroInfo .MarketplaceHeroInfoCons {
    color: var(--color-neutral-080);
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroInfo .MarketplaceHeroInfoCons label {
    padding: 8px 16px;
    border-left: 1px solid var(--color-neutral-080);
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroBg {
    position: absolute;
    bottom: -122px;
    right: 0;
    --image-width: 476px;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroBg .HeroImg01 {
    width: var(--image-width);
    position: absolute;
    right: calc(var(--image-width) * 0.217);
    bottom: calc(var(--image-width) * 0.0954);
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroBg .HeroImg02 {
    width: var(--image-width);
    position: absolute;
    right: 0;
    bottom: 0;
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroBg .HeroCircle {
    width: calc(var(--image-width) * 0.7413);
    height: calc(var(--image-width) * 0.7413);
    position: absolute;
    filter: blur(75px);
    border-radius: 50%;
    background-color: var(--color-primary-030);
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroBg .HeroCircle01 {
    right: calc(var(--image-width) * 0.4688);
    bottom: calc(var(--image-width) * 0.1563);
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroBg .HeroCircle02 {
    right: calc(var(--image-width) * 0.2083);
    bottom: calc(var(--image-width) * 0.5036);
}

.PageMarketplace .MarketplaceHero .MarketplaceHeroBg .HeroCircle03 {
    right: 0px;
    bottom: calc(var(--image-width) * 0.2604);
}

.PageMarketplace .MarketplaceHeading {
    text-align: center;
    margin-bottom: 90px;
}

.PageMarketplace .SectionWrapper {
    margin-bottom: 160px;
}

.PageMarketplace .SectionWrapper .SectionHeadingCnt {
    position: relative;
    margin-bottom: 32px;
}

.PageMarketplace .SectionWrapper .SectionHeadingCnt .CenterCnt {
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.PageMarketplace .SectionWrapper .SectionActions {
    margin-top: 40px;
}

.PageMarketplace .SectionHashRateDrops {
    display: flex;
    color: #fff;
    border-radius: 40px;
    padding: 58px 40px;
    background: linear-gradient(0deg, rgba(8, 9, 12, 0.4), rgba(8, 9, 12, 0.4)), linear-gradient(270deg, #0100b7 0%, #15f8e9 100%);
}

.PageMarketplace .SectionHashRateDrops .HashRateDropsInfo {
    width: 210px;
    flex: 0 0 auto;
    margin-right: 40px;
}

.PageMarketplace .SectionHashRateDrops .HashRateDropsInfo .HashRateDropsInfoActions {
    margin-top: auto;
}

.PageMarketplace .SectionHashRateDrops .HashRateDropsCnt {
    width: 0;
    flex: 1 1 auto;
}

.PageMarketplace .PresaleHero {
    width: 700px;
    align-self: center;
}

.PageMarketplace .PresaleInfoColumn {
    align-items: center;
}

.PageMarketplace .PresaleInfoColumn .PresaleInfo {
    max-width: 768px;
    text-align: center;
    padding: 12px 24px;
    border: 1px solid var(--color-primary-060);
    border-radius: 6px;
    margin-bottom: 16px;
}

.PageMarketplace .PresaleInfoColumn .CollectionLabel {
    text-transform: uppercase;
    text-align: center;
    font-family: "OpenSans";
}

.PageMarketplace .PresaleInfoColumn .CollectionName {
    max-width: 900px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 800;
}

.PageMarketplace .PresaleInfoColumn .CollectionDescription {
    max-width: 900px;
    text-align: center;
    font-family: "OpenSans";
    margin-bottom: 24px;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer {
    align-self: stretch;
    align-items: center;
    gap: 32px;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .PhaseInfoColumn {
    width: 100%;
    align-items: center;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .PhaseInfoColumn .PriceInfo {
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .PhaseInfoColumn .PriceInfo .PriceWithIcon {
    gap: 6px;
    align-items: center;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .PhaseInfoColumn .PriceInfo .PriceWithIcon .SVG {
    width: 24px;
    height: 24px;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .PhaseInfoColumn .PriceInfo .PriceWithIcon .PriceItself {
    font-size: 20px;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .NftPresalePreviewCnt {
    align-self: stretch;
}


.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .NftPresaleLuckyCnt {
    align-self: stretch;
    padding: 32px 32px 32px 48px;
    border-radius: 16px;
    background-color: var(--color-neutral-100);
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .NftPresaleLuckyCnt .LuckyDesc {
    width: 390px;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-right: 40px;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .NftPresaleLuckyCnt .LuckyDesc .LuckyGradient {
    background: linear-gradient(270deg, #67D271  0%, #08BDDC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.PageMarketplace .PresaleInfoColumn .PhaseInfoContainer .NftPresaleLuckyCnt .NftPresalePreviewLuckyCnt {
    flex: 1 1 auto;
}

.PageMarketplace .PresaleInfoColumn .PurchaseNoWallet {
    font-size: 18px;
}

.PageMarketplace .PresaleInfoColumn .PurchaseError {
    max-width: 768px;
    color: var(--color-error-060);
    text-align: center;
    margin-bottom: 32px;
}
