.PageHeader {
    padding: 20px var(--page-spacing-h);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-neutral-020);
    background-color: #fff;
    z-index: 4;
}

.PageHeader .LogoHeader {
    gap: 30px;
}

.PageHeader .LogoHeader .AdminPortalNav {
    border-radius: 6px;
    padding: 10px;
    background-color: var(--color-neutral-020);
}

.PageHeader .NavCnt {
    gap: 40px;
    color: var(--color-neutral-060);
    align-items: center;
}

.PageHeader .NavCnt .NavButton.Active {
    color: #000;
}
