.MintPrivateSaleNftsModal .Stage {
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.MintPrivateSaleNftsModal .Stage.Preview .AddressLine {
    width: 100%;
    gap: px;
}

.MintPrivateSaleNftsModal .Stage.Success .TransactionView {
    gap: 10px;
    color: var(--color-primary-060);
}

.MintPrivateSaleNftsModal .Stage .Info {
    color: var(--color-neutral-060);
    text-align: center;
}

.MintPrivateSaleNftsModal .Stage .BigSvg {
    width: 70px; height: 70px;
}

.MintPrivateSaleNftsModal .Stage.Success .BigSvg {
    color: var(--color-success-050);
}

.MintPrivateSaleNftsModal .Stage.Fail .BigSvg {
    color: var(--color-error-060);
}
