.PageAnalytics .PageContent {
    gap: 24px;
}

.PageAnalytics .PageContent .BalancesDataContainer {
    gap: 24px;
}

.PageAnalytics .PageContent .BalancesDataContainer .BalanceColumn {
    gap: 16px;
}

.PageAnalytics .PageContent .BalancesDataContainer .BalanceColumn .ValueColumn .SecondaryColor {
    color: var(--color-gray-030);    
}

.PageAnalytics .PageContent .TableContainer {
    gap: 30px;
}

.PageAnalytics .PageContent .TableContainer .TableHeader {
    justify-content: space-between;
    align-items: center;
}

.PageAnalytics .PageContent .TableContainer .TableHeader .TableFilter {
    width: 20%;
}

.PageAnalytics .PageContent .TableContainer .ActivityOnCollections .AddressCell {
    padding-right: 20px;
}

.PageAnalytics .PageContent .TableContainer .ActivityOnCollections .ItemCell {
    gap: 10px;
}

.PageAnalytics .PageContent .TableContainer .ActivityOnCollections .PicturePreview {
    width: 50px; height: 50px;
    background-size: cover;
    background-position: center;
}