.FooterContainer {
    display: flex;
    flex-direction: column;
}

.FooterContainer a {
    color: var(--color-neutral-050);
    font-weight: 600;
}

.FooterContainer .PageFooter {
    padding: 54px 64px;
    margin: 0 72px;
    margin-top: auto;
    background-color: var(--color-neutral-100);
    border-radius: 40px;
    color: #fff;
    fill: #fff;
}

.FooterContainer .PageFooter .IconLogoWithText {
    margin-right: 12px;
    height: 28px;
    width: 117px;
}

.FooterContainer .PageFooter .FooterNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 140px;
}

.FooterContainer .LinksColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.FooterContainer .TermsContainer {
    margin: auto;
    gap: 18px;
    padding: 24px;
}
