.StepMiningFarmPreview .TermsAgreeRow {
    width: 100%;
}

.StepMiningFarmPreview .TermsAgreeRow span a {
    color: var(--color-primary-060);
    text-decoration: underline;
}

.StepMiningFarmPreview .MiningFarmName {
    margin-bottom: 16px;
}
