.ViewMiningFarmModal .MiningFarmPhoto {
    padding-bottom: 100%;
    border-radius: var(--border-radius);
}

.ViewMiningFarmModal .ImgsCnt {
    margin-top: var(--item-spacing);
}

.ViewMiningFarmModal .RoyaliesInput {
    width: 90px;
    float: right;
}

.ViewMiningFarmModal .ViewMiningFarmsActions {
    margin-top: var(--item-spacing);
}
