.CategoriesSelector {
    gap: 20px;
}

.CategoriesSelector .CategoryName {
    padding: 4px 10px;
    border-radius: 6px;
    background-color: var(--color-neutral);
    font-weight: 600; font-size: 14px;

    transition-property: background-color, color;
}

.CategoriesSelector .CategoryName.Active {
    background-color: #000;
    color: #fff;
}
