.CollectionHorizontalPreview {
    padding: 24px 12px;
}

.CollectionHorizontalPreview .PreviewIndex {
    width: 36px;
}

.CollectionHorizontalPreview .PreviewImage {
    flex: 0 0 auto;
    width: 64px; height: 64px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 24px;
}

.CollectionHorizontalPreview .PreviewData {
    flex: 1 1 auto;
    justify-content: center;
}

.CollectionHorizontalPreview .PreviewData .PreviewDataRow:first-child {
    margin-bottom: 8px;
}

.CollectionHorizontalPreview .PreviewData .PreviewDataRow:last-child {
    color: var(--color-gray-030);
}

.CollectionHorizontalPreview .CollectionName {
    width: 0;
    flex: 1 1 auto;
    line-height: 145%;
    margin-right: 8px;
}

.CollectionHorizontalPreview .CollectionPriceCudos {
    text-align: right;
}

.CollectionHorizontalPreview .HashPower {

}

.CollectionHorizontalPreview .CollectionPriceUsd {
    
}

.CollectionHorizontalPreview .CollectionPriceUsd .CurrentPrice {
    color: #000;   
}

.CollectionHorizontalPreview .CollectionPriceUsd .CurrentPriceChange {
    margin-left: 8px;
}

.CollectionHorizontalPreview .CollectionPriceUsd .PriceChangeUp {
    color: var(--color-success-060);
}

.CollectionHorizontalPreview .CollectionPriceUsd .PriceChangeDown {
    color: var(--color-error-060);
}
