.CollectionPreview {
    width: 100%;
    color: var(--color-neutral-060);
}

.CollectionPreview .CollectionPreviewImage {
    width: 100%; height: 0; padding-bottom: 78%;
    position: relative;
    border-radius: 16px;
    margin-bottom: 16px;
}

.CollectionPreview .CollectionPreviewImage .CollectionStatusLabel {
    position: absolute;
    left: 10px; top: 10px;
}

.CollectionPreview .MiningFarmName {
    text-transform: uppercase;
    margin-bottom: 8px;
    color: var(--color-primary-060);
}

.CollectionPreview .CollectionName {
    color: #000;
    font-size: 24px; font-weight: 700;
    margin-bottom: 8px;
}

.CollectionPreview .HashPower {
    font-size: 18px; font-weight: 500;
    margin-bottom: 16px;
}

