.CollectionsGrid .CollectionPreview {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(0, 0.1fr) minmax(0, 0.5fr) minmax(0, 1.8fr) minmax(0, 1fr);
    align-items: center;
    padding: 20px;
}

.CollectionsGrid .CollectionPreview .PreviewImage {
    width: 60px; height: 60px;
    background-size: contain;
}
