.CreditCollectionSuccessModal .CreditCollectionSuccessModalCnt {
    gap: 24px;
    align-items: center;
}

.CreditCollectionSuccessModal .CreditCollectionSuccessModalCnt  .SuccessSvg {
    width: 70px; height: 70px;
    color: var(--color-success-060);
}
