.CreditCollectionDetailsForm {
    /* align-items: flex-start; */
    gap: 24px;
}

.CreditCollectionDetailsForm .ImagePreview {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.CreditCollectionDetailsForm .ImagePreview.Empty {
    background-color: var(--color-neutral-060);
}

.CreditCollectionDetailsForm .MainImagePreview {
    width: 150px; height: 150px;
}

.CreditCollectionDetailsForm .MainImagePreview.Empty .EmptyPictureSvg {
    width: 40px; height: 40px;
}

.CreditCollectionDetailsForm .ImageLabel .Gray {
    color: var(--color-neutral-060);
}

.CreditCollectionDetailsForm .BannerImagePreview {
    height: 200px; width: 100%;
}

.CreditCollectionDetailsForm .BannerImagePreview.Empty .EmptyPictureSvg {
    width: 70px; height: 70px;
}

.CreditCollectionDetailsForm .FormulaBox {
    align-self: flex-start;
    padding: 15px;
    color: var(--color-neutral-060);
    background-color: var(--color-neutral-020);
    border-radius: 10px;
}
