.CreditCollectionAddNftForm {
    /* align-items: flex-start; */
    gap: 24px;
}

.CreditCollectionAddNftForm .MainImagePreview {
    width: 150px; height: 150px;
    border-radius: 16px;
    background-color: var(--color-neutral-020);
}

.CreditCollectionAddNftForm .MainImagePreview.Empty img {
    width: 40px; height: 40px;
}

.CreditCollectionAddNftForm .HeaderWithButton {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.CreditCollectionAddNftForm .HeaderWithButton .InputHeaderButton {
    color: #000;
    gap: 6px;
    cursor: pointer;
}

.CreditCollectionAddNftForm .HeaderWithButton .InputHeaderButton .SvgInputEdit {
    width: 16px; height: 16px;
}

.CreditCollectionAddNftForm .FormulaBox {
    align-self: flex-start;
    padding: 15px;
    color: var(--color-neutral-060);
    background-color: var(--color-neutral-020);
    border-radius: 10px;
}
