.CreditCollectionFinish {
    gap: 30px;
}

.CreditCollectionFinish .InstructionsBox{
    padding: 16px;
    background: var(--color-primary-010);
    color: var(--color-primary-060);
    border-radius: 10px;
}
