
.PageMarketplace .PageContent {
    padding: 70px var(--page-spacing-h);
}

.PageMarketplace .ExploreCollections {
    align-items: center;
    margin-bottom: 150px;
}

.PageMarketplace .ExploreCollections .PageHeading {
    font-size: 64px;
    margin: 130px 0 40px 0;
}

.PageMarketplace .ExploreCollections .SearchBar {
    width: 420px;
    margin-bottom: 40px;
}

.PageMarketplace .SectionWrapper {
    margin-top: 120px;
}

.PageMarketplace .SectionWrapper .SectionHeadingCnt {
    position: relative;
    margin-bottom: 32px;
}

.PageMarketplace .SectionWrapper .SectionHeadingCnt .CenterCnt {
    width: 50%;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
}

.PageMarketplace .SectionWrapper .SectionActions {
    margin-top: 50px;
}
