
.PageCollectionCredit .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageCollectionCredit .ProfileInfo {
    margin-top: 40px;
}

.PageCollectionCredit .CollectionHeadingName {
    margin-bottom: 40px;
}

.PageCollectionCredit .ProfileInfo {
    align-items: flex-start;
    gap: 100px;
    grid-template-columns:  minmax(0, 2fr)  minmax(0, 1fr);
    flex-grow: 1;
    margin-bottom: 50px;
}

.PageCollectionCredit .ProfileInfo .CollectionDescription {
    margin-top: 20px;
}