.PageAnalytics .PageContent {
    padding: 24px var(--page-spacing-h);
    gap: 24px;
}

.PageAnalytics .PageContent .TheChart {
    height: 450px;
}

.PageAnalytics .PageContent .BalancesDataContainer {
    gap: 24px;
}

.PageAnalytics .PageContent .BalancesDataContainer .BalanceColumn {
    gap: 16px;
}

.PageAnalytics .PageContent .BalancesDataContainer .BalanceColumn .ValueColumn .SecondaryColor {
    color: var(--color-neutral-060);    
}

.PageAnalytics .PageContent .TableContainer {
    gap: 30px;
}

.PageAnalytics .PageContent .TableContainer .TableHeader {
    justify-content: space-between;
    align-items: center;
}

.PageAnalytics .PageContent .TableContainer .TableHeader .TableFilter {
    width: 20%;
}
