.PageSuperAdminAnalytics .TableContainer {
    gap: 30px;
}

.PageSuperAdminAnalytics .FilterInput {
    width: 200px;
}

.PageSuperAdminAnalytics .TableContainer .TableHeader {
    justify-content: space-between;
    align-items: center;
}

.PageSuperAdminAnalytics .TableContainer .TableHeader .TableFilter {
    width: 20%;
}
