.PageSuperAdminMiningFarms .AllMiningFarmsTable .MiningFarmImg {
    width: 64px; height: 64px;
    margin-right: 16px;
}

.PageSuperAdminMiningFarms .AllMiningFarmsTable .MiningFarmsCellTitle {
    margin-bottom: 4px;
}

.PageSuperAdminMiningFarms .AllMiningFarmsTable .FarmVolumePriceRow {
    gap: 4px;
}
