
.PageCreditMiningFarm .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageCreditMiningFarm .FarmImagesCnt {
    margin-top: 24px;
}

.PageCreditMiningFarm .MiningFarmNameCnt {
    margin-top: 24px;
}

.PageCreditMiningFarm .MiningFarmNameCnt .ReviewBadge,
.PageCreditMiningFarm .MiningFarmNameCnt .RejectedBadge {
    color: #fff;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 6px;
    margin-left: 26px;
    background: var(--color-neutral-060);
}

.PageCreditMiningFarm .MiningFarmDataCnt {
    margin-top: 24px;
    gap: 50px;
}

.PageCreditMiningFarm .SectionDivider {
    height: 1px;
    margin: 110px 0 24px 0;
    background: var(--color-neutral-060);
}

.PageCreditMiningFarm .CollectionsOwnedHeader {
    justify-content: space-between;
}

.PageCreditMiningFarm .CollectionsCnt {
    margin-top: 24px;
}
