
.PageCreditMiningFarm .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageCreditMiningFarm .FarmImagesCnt {
    margin-top: 24px;
}

.PageCreditMiningFarm .MiningFarmNameCnt {
    margin-top: 24px;
}

.PageCreditMiningFarm .MiningFarmNameCnt .StatusBadge {
    text-transform: uppercase;
    padding: 5px 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(8, 9, 12, 0.1);
    margin-left: 24px;
}

.PageCreditMiningFarm .MiningFarmNameCnt .StatusBadge .SVG {
    margin-right: 8px;
}

.PageCreditMiningFarm .MiningFarmNameCnt .ReviewBadge .SVG {
    color: var(--color-warning-060);
}

.PageCreditMiningFarm .MiningFarmNameCnt .RejectedBadge .SVG {
    color: var(--color-error-060);
}

.PageCreditMiningFarm .MiningFarmNameCnt .ApprovedBadge {
    color: var(--color-primary-060);
}

.PageCreditMiningFarm .MiningFarmDataCnt {
    margin-top: 24px;
    gap: 50px;
}

.PageCreditMiningFarm .SectionDivider {
    height: 1px;
    margin: 110px 0 24px 0;
    background: var(--color-neutral-060);
}

.PageCreditMiningFarm .CollectionsOwnedHeader {
    justify-content: space-between;
}

.PageCreditMiningFarm .CollectionsCnt {
    margin-top: 24px;
}
