
.PageCreditMiningFarm .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageCreditMiningFarm .FarmImagesCnt {
    margin-top: 24px;
}

.PageCreditMiningFarm .MiningFarmNameCnt {
    margin-top: 24px;
}

.PageCreditMiningFarm .MiningFarmNameCnt .MiningFarmStatusBadge {
    margin-left: 24px;
}

.PageCreditMiningFarm .MiningFarmDataCnt {
    margin-top: 24px;
    gap: 50px;
}

.PageCreditMiningFarm .SectionDivider {
    height: 1px;
    margin: 110px 0 24px 0;
    background: var(--color-neutral-020);
}

.PageCreditMiningFarm .CollectionsHeader {
    justify-content: space-between;
}

.PageCreditMiningFarm .CollectionsCnt {
    margin-top: 24px;
}
