.PageCreditMiningFarmDetails .PageContent .StepsCnt {
    margin-bottom: 24px;
}

.PageCreditMiningFarmDetails .FormContainer {
    margin: 24px auto 0 auto;
}

.PageCreditMiningFarmDetails .FormContainer .CreditHeading {
    margin-bottom: 16px;
}
