.StepMiningFarmSuccess {
    gap: 40px;
}

.StepMiningFarmSuccess .HeadingRow {
    gap: 10px;
}

.SuccessCheck {
    color: var(--color-success-050);
}

/* .EmailBox {
    margin-top: 50px;
    width: 100%;
    gap: 10px;
    padding: 15px;
    background-color: var(--color-neutral-060);
    color: var(--color-neutral-060);
} */
