.StepMiningFarmSuccess .HeadingRow {
    color: var(--color-neutral-100);
    margin-bottom: 16px;
}

.StepMiningFarmSuccess .SubTitle {
    color: var(--color-neutral-060);
}

.SuccessCheck {
    width: 20px; height: 20px;
    box-sizing: border-box;
    color: #fff;
    flex: 0 0 auto;
    padding: 4px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--color-success-050);
}
