.CreditCollectionSidePreview .CreditCollectionSidePreviewTitle {
    margin-bottom: 8px;
}

.CreditCollectionSidePreview .CreditCollectionSidePreviewSubtitle {
    margin-bottom: 24px;
}

.CreditCollectionSidePreview .PreviewBorderContainer .CoverPicture {
    width: 100%; height: 125px;
    position: relative;
    border-radius: 16px;
    margin-bottom: 25px;
    background-color: var(--color-neutral-010);
}

.CreditCollectionSidePreview .PreviewBorderContainer .CoverPicture.Empty img {
    width: 40px; height: 40px;
}


.CreditCollectionSidePreview .PreviewBorderContainer .ProfilePicture {
    width: 70px; height: 70px;
    position: absolute;
    left: 10px; bottom: -25px;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    background-color: var(--color-neutral-010);
    box-shadow: 2px 2px 30px rgba(8, 9, 12, 0.1);
}

.CreditCollectionSidePreview .PreviewBorderContainer .ProfilePicture.Empty img {
    width: 16px; height: 16px;
}

.CreditCollectionSidePreview .PreviewBorderContainer .CollectionPreviewName {
    margin-top: 16px;
}

.CreditCollectionSidePreview .PreviewBorderContainer .CollectionPreviewDesc {
    margin-top: 8px;
}
