.PageSuperAdminDashboard .TopPerformingMiningFarmsTable .TopPerformingMiningFarmImg {
    width: 64px; height: 64px;
    margin-right: 16px;
}

.PageSuperAdminDashboard .TopPerformingMiningFarmsTable .TopPerformingMiningFarmsCellTitle {
    margin-bottom: 4px;
}

.PageSuperAdminDashboard .TopPerformingMiningFarmsTable .FarmVolumePriceRow {
    gap: 4px;
}
